---
layout: default
id: index
---

<section class="explore" role="main" aria-labelledby="explore-projects">
    <div class="container">
    <h1 id="explore-projects" class="section-title">Explore Projects</h1>
    <ul id="projects">
        {% for project in site.data.projects %}
            <li class="project-card" id="{{ project.data_project }}">
                <div class="project-logo">
                    <img src="{{ project.img_src }}" role="none">
                </div>
                <h2 class="project-title">{{ project.title }}</h2>
                <div class="project-stars" data-project="{{ project.data_project }}"><i class="fas fa-star"></i><span class="count"></span></div>
                <p class="project-description">
                    {{ project.description }}
                </p>
                <p class="project-links">
                    {% for link in project.links %}
                        <a class="pink link" href="{{ link.link }}" aria-label="{{ project.title }} {{ link.text }}">{{ link.text }}</a>
                    {% endfor %}
                </p>
            </li>
        {% endfor %}
    </ul>
    </div>
</section>

{% include join.html %}
