---
layout: default
id: index
---

<section class="explore">
    <div class="container">
    <h1 class="section-title">Explore Projects</h1>
    <div id="projects">
        {% for project in site.data.projects %}
            <div class="project-card">
                <div class="project-logo">
                    <img src="{{ project.img_src }}">
                </div>
                <h3 class="project-title">{{ project.title }}</h3>
                <div class="project-stars" data-project="{{ project.data_project }}"><i class="fas fa-star"></i><span class="count"></span></div>
                <p class="project-description">
                    {{ project.description }}
                </p>
                <p class="project-links">
                    {% for link in project.links %}
                        <a class="pink link" href="{{ link.link }}">{{ link.text }}</a>
                    {% endfor %}
                </p>
            </div>
        {% endfor %}
    </div>
    </div>
</section>

{% include join.html %}
