<!DOCTYPE html>
<html>

    {% include head.html %}

    <body>
        {% include hero.html %}

        {{ content }}

        {% include join.html %}

        {% include footer.html %}
    </body>
    <script src="static/js/slack.js"></script>
    <script src="static/js/stars.js"></script>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-129741728-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'UA-129741728-1');
    </script>
</html>
