<section class="join" role="region" aria-labelledby="get-involved">
    <div class="container">

        <h1 class="section-title" id="get-involved">Get Involved</h1>

        <div class="join-columns">
            <div class="column">
                <h2>Work With Us</h2>
                <div class="column-content">
                    <p>
                    Top Hat is reshaping the future of higher education.
                    We’re looking for people who are as excited as we are to help build a teaching platform that transforms the way learning is delivered at universities and colleges across the globe.
                    </p>
                </div>
                <a href="https://www.tophat.com/company/work-with-us#engineering"><button class="button pink" tabindex="-1">View Our Open Positions</button></a>
            </div>

            <div class="border">
            </div>
            <div class="column">
                {% include discord_invite.html %}
            </div>
        </div>
    </div>
</section>
