<head>
    <title>Top Hat Open Source Portal</title>
    <link href="static/css/normalize.css" rel="stylesheet" />
    <link href="static/css/styles.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://fonts.typotheque.com/WF-029067-010445.css" type="text/css" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
    <meta content="width=device-width, initial-scale=1" name="viewport" />
    <meta name="google-site-verification" content="0b8DCHmoQCopcbvnRyhxbjgHm31AqxvOFyi5VtT7kbQ" />
    <meta property="og:title" content="Top Hat Open Source " />
    <meta property="og:description" content="Open Source at Top Hat: working to make education & technology open to the world" />
    <meta property="og:site_name" content="Top Hat Open Source" />
    <meta property="og:url" content="https://opensource.tophat.com" />
    <meta property="og:type" content="website" />
    <meta property="og:image" content="https://cdn-images-1.medium.com/max/2000/1*eG2MFl0sGRKFmd_USgA_8Q.jpeg" />
    <link rel="apple-touch-icon" sizes="180x180" href="/static/img/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/static/img/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/static/img/favicon/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <link rel="mask-icon" href="/static/img/favicon/safari-pinned-tab.svg" color="#5bbad5">
    <link rel="shortcut icon" href="/static/img/favicon/favicon.ico">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">
</head>
