<section class="join">
    <div class="container">

        <h1 class="section-title" id="get-involved">Get Involved</h1>

        <div class="join-columns">
            <div class="column">
                <h2>Work With Us</h2>
                <div class="column-content">
                    <p>
                    Top Hat is reshaping the future of higher education.
                    We’re looking for people who are as excited as we are to help build a teaching platform that transforms the way learning is delivered at universities and colleges across the globe.
                    </p>
                </div>
                <a href="https://www.tophat.com/company/work-with-us#engineering"><button class="button pink">View Our Open Positions</button></a>
            </div>

            <div class="border">
            </div>
            <div class="column">
                <h2 id="join-slack">Join our Slack Workspace  <i class="fab fa-slack"></i></h2>
                <div class="column-content">
                    <p>Give us your email and we'll invite you to Top Hat's Open Source Slack community!</p>
                    <form id="slack-invite">
                        <div class="field">
                            <input id="email" name="email" placeholder="Enter your email..." type="email" />
                            <i class="fa fa-check-circle fa-lg slack-success" aria-hidden="true"></i>
                            <span class="form-submit-message success">Please check your email for an invite!</span>
                            <span class="form-submit-message resubmit">You have already been invited to Slack! Check your email.</span>
                            <span class="form-submit-message error">Something went wrong.<br />Try going over to <a href="https://tophat-opensource.slack.com">tophat-opensource.slack.com</a> and sign-in.</span>
                            <span class="form-submit-message exists">You're already on the workspace!<br />Head over to <a href="https://tophat-opensource.slack.com">tophat-opensource.slack.com</a> and sign-in.</span>
                            <span class="form-submit-message invalid">Please enter a valid email address</span>
                        </div>
                    </form>
                </div>
                <button id="slack-submit-button" class="button pink">Join Slack</button>
            </div>
        </div>
    </div>
</section>
